<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
        <svg class="logo" viewBox="90 239.1 539.7 523.9" xmlns="http://www.w3.org/2000/svg">
            <path class="gbif-logo-svg" d="M325.5,495.4c0-89.7,43.8-167.4,174.2-167.4C499.6,417.9,440.5,495.4,325.5,495.4"></path>
            <path class="gbif-logo-svg" d="M534.3,731c24.4,0,43.2-3.5,62.4-10.5c0-71-42.4-121.8-117.2-158.4c-57.2-28.7-127.7-43.6-192.1-43.6c28.2-84.6,7.6-189.7-19.7-247.4c-30.3,60.4-49.2,164-20.1,248.3c-57.1,4.2-102.4,29.1-121.6,61.9c-1.4,2.5-4.4,7.8-2.6,8.8c1.4,0.7,3.6-1.5,4.9-2.7c20.6-19.1,47.9-28.4,74.2-28.4c60.7,0,103.4,50.3,133.7,80.5C401.3,704.3,464.8,731.2,534.3,731"></path>
        </svg>
        <div  class="nav-brand__name-area">
          <span>{{site.title}}</span>
        </div>
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="">Publishing data</a>
          <div class="navbar-dropdown">
            {{#with (resolvePage 'guides::data-publishing.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
            {{#with (resolvePage 'ipt::how-to-publish.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
            {{#with (resolvePage 'ipt::index.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{attributes.component-title}}}</a>{{/with}}
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="">Data processing</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{siteRootPath}}/">🏗 Overview</a>
            <a class="navbar-item" href="{{siteRootPath}}/">🏗 Backbone assembly</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          {{#with (resolvePage 'data-use::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Using data</a>{{/with}}
          <div class="navbar-dropdown">
            {{#with (resolvePage 'data-use::download-formats.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
            {{#with (resolvePage 'data-use::api-introduction.adoc')}}<a class="navbar-item" href="{{relativize url}}">API introduction</a>{{/with}}
            {{#with (resolvePage 'data-use::api-downloads.adoc')}}<a class="navbar-item" href="{{relativize url}}">API downloads</a>{{/with}}
            {{#with (resolvePage 'data-use::rgbif.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
            {{#with (resolvePage 'data-use::pygbif.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
            {{#with (resolvePage 'data-use::cloud-services.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          {{#with (resolvePage 'openapi::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">API Reference</a>{{/with}}
          <div class="navbar-dropdown">
            {{#with (resolvePage 'openapi::index.adoc')}}<a class="navbar-item" href="{{relativize url}}"><strong>Overview</strong></a>{{/with}}
            <hr class="navbar-divider">
            {{#with (resolvePage 'v1@openapi::registry-principal-methods.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
            {{#with (resolvePage 'v1@openapi::registry.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
            {{#with (resolvePage 'v1@openapi::species.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
            {{#with (resolvePage 'v1@openapi::occurrence.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
            {{#with (resolvePage 'v2@openapi::maps.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
            {{#with (resolvePage 'v1@openapi::literature.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
            <hr class="navbar-divider">
            {{#with (resolvePage 'openapi::analytics.adoc')}}<a class="navbar-item" href="{{relativize url}}">Data trends (analytics)</a>{{/with}}
          </div>
        </div>

      {{#if env.SITE_SEARCH_PROVIDER}}
        <div class="navbar-item search hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search docs">
          </div>
        </div>
      {{/if}}
    </div>
  </nav>
</header>
