<!--div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link" href="">Publishing data</a>
  <div class="navbar-dropdown">
    {{#with (resolvePage 'guides::data-publishing.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
    {{#with (resolvePage 'ipt::how-to-publish.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
    {{#with (resolvePage 'ipt::index.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{attributes.component-title}}}</a>{{/with}}
  </div>
</div-->

<!--div class="navbar-item has-dropdown is-hoverable">
  {{#with (resolvePage 'data-processing::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Data processing</a>{{/with}}
  <div class="navbar-dropdown">
    {{#with (resolvePage 'data-processing::clustering-occurrences.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
  </div>
</div-->

<!--div class="navbar-item has-dropdown is-hoverable">
  {{#with (resolvePage 'data-use::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Using data</a>{{/with}}
  <div class="navbar-dropdown">
    {{#with (resolvePage 'data-use::download-formats.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
    {{#with (resolvePage 'data-use::api-introduction.adoc')}}<a class="navbar-item" href="{{relativize url}}">API introduction</a>{{/with}}
    {{#with (resolvePage 'data-use::api-downloads.adoc')}}<a class="navbar-item" href="{{relativize url}}">API downloads</a>{{/with}}
    {{#with (resolvePage 'data-use::rgbif.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
    {{#with (resolvePage 'data-use::pygbif.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
    {{#with (resolvePage 'data-use::cloud-services.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
  </div>
</div-->

<!--div class="navbar-item has-dropdown is-hoverable">
  {{#with (resolvePage 'openapi::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">API Reference</a>{{/with}}
  <div class="navbar-dropdown">
    {{#with (resolvePage 'openapi::index.adoc')}}<a class="navbar-item" href="{{relativize url}}"><strong>Overview</strong></a>{{/with}}
    <hr class="navbar-divider">
    {{#with (resolvePage 'v1@openapi::registry-principal-methods.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
    {{#with (resolvePage 'v1@openapi::registry.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
    {{#with (resolvePage 'v1@openapi::species.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
    {{#with (resolvePage 'v1@openapi::occurrence.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
    {{#with (resolvePage 'v2@openapi::maps.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
    {{#with (resolvePage 'v1@openapi::literature.adoc')}}<a class="navbar-item" href="{{relativize url}}">{{{title}}}</a>{{/with}}
    <hr class="navbar-divider">
    {{#with (resolvePage 'openapi::analytics.adoc')}}<a class="navbar-item" href="{{relativize url}}">Data trends (analytics)</a>{{/with}}
  </div>
</div-->

<div class="navbar-item has-dropdown is-hoverable">
  {{#with (resolvePage 'data-publishing::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Data publishing</a>{{/with}}
</div>

<div class="navbar-item has-dropdown is-hoverable">
  {{#with (resolvePage 'data-processing::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Data processing</a>{{/with}}
</div>

<div class="navbar-item has-dropdown is-hoverable">
  {{#with (resolvePage 'data-use::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Data use</a>{{/with}}
</div>

<div class="navbar-item has-dropdown is-hoverable">
  {{#with (resolvePage 'openapi::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">API</a>{{/with}}
</div>

<div class="navbar-item has-dropdown is-hoverable">
  {{#with (resolvePage 'cloud-services::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Cloud services</a>{{/with}}
</div>

<div class="navbar-item has-dropdown is-hoverable">
  {{#with (resolvePage 'system-components::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">System components</a>{{/with}}
</div>
