<div class="page-languages">
  <button class="language-menu-toggle" title="Show other languages of the site">&#127760; {{env.ANTORA_LANGUAGE}}</button>
  <div class="language-menu">
    <a class="language" href="{{siteRootPath}}/../en{{page.url}}">English</a>
    <a class="language" href="{{siteRootPath}}/../es{{page.url}}">español</a>
    <a class="language" href="{{siteRootPath}}/../zh{{page.url}}">繁體中文</a>
  </div>
</div>
